.gallery {
  margin: 118px auto 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 96px);

 
}

@media screen and (max-width: 1040px) {
  .gallery {
    grid-template-columns: 1fr;
    margin: 90px auto 0;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 760px) {
  .gallery {
    width: calc(100% - 32px);
    grid-gap: 12px;
  }
}