.header__logo-text {
  margin: 20px auto 92px;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header__logo-text {
    margin: 20px auto 88px;}
  }

@media screen and (max-width: 320px) {
  .header__logo-text {
    font-size: 15px;
    line-height: 15px;
    margin: 16px auto 50px;
  }
}
