.heading__quotion-name {
  max-width: 690px;
  margin: 0;
  margin-top: 10px;
  color: white;
  font-family: Inter;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: right;

}
