.visit{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: auto 0;
    background-image: url("../../images/background.png");
    background-size: cover;
    max-width: 1184px;
    width: 100%;
    max-height: 740px;
    height: 100vh;
    transition: 0.3s;
}

.visit:hover {
    background-color: black;
    opacity: 0.8;
}