.visit {
  position: relative;
  background-image: url("../../images/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: auto 0;
  max-width: 1184px;
  width: 100%;
  height: 100vh;
  max-height: 740px;
  z-index: 0;
  text-align: center;
}
.visit::before {
  content: "";
  background: #2a2c2f;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: 0;
  transition: 0.3s;
}

.visit:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .visit {
   height: calc(100vw * 1);
  }
}
