.heading__image {
  width: 100%;
  max-width: 984px;
  filter: grayscale(100%);
  transition: 1s;
}

.heading__image:hover{
  filter: none;
}

@media screen and (max-width: 768px){
  .heading__image{
    max-height: 450px;
  }
}

@media screen and (max-width: 768px){
  .heading__image{
    max-height: 187px;
  }
}