.city__text {
  margin: 0;
  grid-area: text;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}
@media screen and (max-width: 320px) {
  .city__text {
    font-size: 16px;
    line-height: 26px;
  }
}
