.footer__text {
  text-align: center;
  margin: 92px 0 42px;
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 320px) {
  .footer__text {
    margin: 64px auto 24px;
  }
}
