.footer__text {
  text-align: center;
  margin: 92px 0 24px;
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .footer__text {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer__text {
    margin-top: 64px;
  }
}
