.visit__button {
  margin: 32px auto 0;
  background: #0278fe;
  width: 137px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.visit__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 320px) {
  .visit__button {
    margin: 16px auto 0;
  }
}
