@font-face {
  src: url(./Inter-Regular.ttf) format("truetype");
  font-family: "inter";
  font-weight: normal;
}

@font-face {
  src: url(./Inter-SemiBold.ttf) format("truetype");
  font-family: "inter";
  font-weight: 600;
}

@font-face {
  src: url(./Inter-Bold.ttf) format("truetype");
  font-family: "inter";
  font-weight: 900;
}
