.intro {
  max-width: 984px;
  margin: 92px 0 0;
  color: white;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1080px) {
  .intro {
    margin: 0 auto 0;
    width: calc(100% - 60px);
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 32px);
    margin: 64px 0 0;
  }
}
