.city__button {
  margin: 0;
  grid-area: button;
  background-color: #0278fe;
  width: 248px;
  height: 48px;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.city__button:hover {
  background: #0063d2;
}
@media screen and (max-width: 320px) {
  .city__button {
    margin: auto;
  }
}
