.heading__quotion {
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 984px;
  padding-top: 92px;
}

@media screen and (max-width: 1080px) {
  .heading__quotion {
    margin: 0 auto 0;
    width: calc(100% - 60px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .heading__quotion {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .heading__quotion { 
    width: calc(100% - 32px);
  }
}
