.heading__subtitle {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 790px;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 600px) {
  .heading__subtitle {
  margin-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .heading__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 32px 16px 016px;
  }
}
