.city__artist-title {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #AAAAAA;
  margin-bottom: 8px;

}
@media screen and (max-width: 320px){
  .city__artist-title {
      margin-bottom: 12px;
  }
}