.cities {
  padding-top: 92px;
  max-width: 984px;
  width: calc(100% - 48px);
  margin: auto;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 80px;
}

@media screen and (max-width: 800px) {
  .cities {

    grid-gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .cities {
    width: calc(100% - 32px);
    padding-top: 64px;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 320px) {
  .cities {
    width: 100%;
    grid-gap: 48px;
  }
}
