.header__logo-image {
  margin: 32px auto 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Logo-practicum-gallery.svg);
}
@media screen and (max-width: 320px) {
  .header__logo-image {
    width: 24px;
    height: 24px;
    margin-top: 20px;
  }
}
