.heading__quotion-text {
  max-width: 690px;
  margin: 0;
  margin-top: 60px;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
@media screen and (max-width: 320px) {
  .heading__quotion-text {
    margin-top: 40px;
    line-height: 30px;
  }
}
